pipeline/pl_filter_task.json
{
	"name": "pl_filter_task",
	"properties": {
		"activities": [
			{
				"name": "act_get_metadata",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dds_etl_fw_metadata",
						"type": "DatasetReference",
						"parameters": {
							"location": {
								"value": "@pipeline().parameters.metadataLocation",
								"type": "Expression"
							},
							"path": {
								"value": "@pipeline().parameters.metadataPath",
								"type": "Expression"
							},
							"configName": {
								"value": "@pipeline().parameters.metadataFilename",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_filter_tasks",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "act_get_metadata",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_get_metadata').output.value",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().type, pipeline().parameters.taskType)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"metadataLocation": {
				"type": "string",
				"defaultValue": "metadata"
			},
			"metadataPath": {
				"type": "string",
				"defaultValue": "config"
			},
			"metadataFilename": {
				"type": "string"
			},
			"taskType": {
				"type": "string"
			},
			"maxConcurrentTasks": {
				"type": "int",
				"defaultValue": 20
			}
		},
		"folder": {
			"name": "core/level 001"
		},
		"annotations": []
	}
}