pipeline/pl_main_orchestrator.json
{
	"name": "pl_main_orchestrator",
	"properties": {
		"activities": [
			{
				"name": "act_get_main_config",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": false,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dds_etl_fw_metadata",
						"type": "DatasetReference",
						"parameters": {
							"location": {
								"value": "@pipeline().parameters.metadataLocation",
								"type": "Expression"
							},
							"path": {
								"value": "@pipeline().parameters.metadataPath",
								"type": "Expression"
							},
							"configName": {
								"value": "main.json",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "act_execute_stage_inorder",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "act_set_data_links",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('act_get_main_config').output.firstRow.executionOrder",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "act_get_tasks",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": false,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "dds_etl_fw_metadata",
									"type": "DatasetReference",
									"parameters": {
										"location": {
											"value": "@pipeline().parameters.metadataLocation",
											"type": "Expression"
										},
										"path": {
											"value": "@concat(pipeline().parameters.metadataPath, '/task')",
											"type": "Expression"
										},
										"configName": {
											"value": "@concat(item().stage, '.json')",
											"type": "Expression"
										}
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "act_pipeline_for_stage",
							"type": "Switch",
							"dependsOn": [
								{
									"activity": "act_get_tasks",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"on": {
									"value": "@item().stage",
									"type": "Expression"
								},
								"cases": [
									{
										"value": "ingest",
										"activities": [
											{
												"name": "act_exec_process_ingest_tasks_pl",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_process_ingest_tasks",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"metadataLocation": {
															"value": "@pipeline().parameters.metadataLocation",
															"type": "Expression"
														},
														"metadataPath": {
															"value": "@pipeline().parameters.metadataPath",
															"type": "Expression"
														},
														"maxConcurrentTasks": {
															"value": "@pipeline().parameters.maxConcurrentTasks",
															"type": "Expression"
														},
														"tasksToProcess": {
															"value": "@activity('act_get_tasks').output.value",
															"type": "Expression"
														},
														"datalinks": {
															"value": "@variables('datalinks')",
															"type": "Expression"
														}
													}
												}
											}
										]
									},
									{
										"value": "load",
										"activities": [
											{
												"name": "pl_process_load_tasks",
												"type": "ExecutePipeline",
												"dependsOn": [],
												"policy": {
													"secureInput": false
												},
												"userProperties": [],
												"typeProperties": {
													"pipeline": {
														"referenceName": "pl_process_load_tasks",
														"type": "PipelineReference"
													},
													"waitOnCompletion": true,
													"parameters": {
														"metadataLocation": {
															"value": "@pipeline().parameters.metadataLocation",
															"type": "Expression"
														},
														"metadataPath": {
															"value": "@pipeline().parameters.metadataPath",
															"type": "Expression"
														},
														"maxConcurrentTasks": {
															"value": "@pipeline().parameters.maxConcurrentTasks",
															"type": "Expression"
														},
														"datalinks": {
															"value": "@variables('datalinks')",
															"type": "Expression"
														},
														"tasksToProcess": {
															"value": "@activity('act_get_tasks').output.value",
															"type": "Expression"
														}
													}
												}
											}
										]
									}
								],
								"defaultActivities": [
									{
										"name": "act_invalid_stage",
										"type": "Fail",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"message": {
												"value": "@concat('Invalid Stage: ', item().stage)",
												"type": "Expression"
											},
											"errorCode": "400"
										}
									}
								]
							}
						}
					]
				}
			},
			{
				"name": "act_set_data_links",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "act_get_main_config",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "datalinks",
					"value": {
						"value": "@activity('act_get_main_config').output.firstRow.datalinks",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"metadataLocation": {
				"type": "string",
				"defaultValue": "metadata"
			},
			"metadataPath": {
				"type": "string",
				"defaultValue": "config"
			},
			"maxConcurrentTasks": {
				"type": "int",
				"defaultValue": 20
			}
		},
		"variables": {
			"datalinks": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "core/orchestration"
		},
		"annotations": []
	}
}