pipeline/pl_process_one_ingest_task.json
{
	"name": "pl_process_one_ingest_task",
	"properties": {
		"activities": [
			{
				"name": "act_get_object_mapping",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "dds_etl_fw_metadata",
						"type": "DatasetReference",
						"parameters": {
							"location": {
								"value": "@pipeline().parameters.metadataLocation",
								"type": "Expression"
							},
							"path": {
								"value": "@concat(pipeline().parameters.metadataPath,'/mapping')",
								"type": "Expression"
							},
							"configName": {
								"value": "@concat(pipeline().parameters.taskToProcess.mappingId, '.json')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "act_filter_source_datalink",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.datalinks",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().datalinkId, pipeline().parameters.taskToProcess.sourceDatalinkId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_filter_sink_datalink",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.datalinks",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().datalinkId, pipeline().parameters.taskToProcess.sinkDatalinkId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_ingest_dataset",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "act_get_object_mapping",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_filter_source_datalink",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_filter_sink_datalink",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_filter_source_dataset",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "act_filter_sink_dataset",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false,
						"tableOption": "autoCreate",
						"disableMetricsCollection": false
					},
					"enableStaging": false,
					"translator": {
						"value": "@json(concat('{ \n    \"type\": \"TabularTranslator\", \n    \"mappings\":',\n    string(activity('act_get_object_mapping').output.value),',\n    \"typeConversion\": true,\n    \"typeConversionSettings\": {\n        \"allowDataTruncation\": true,\n        \"treatBooleanAsNumber\": false\n    }\n}'))\n",
						"type": "Expression"
					}
				},
				"inputs": [
					{
						"referenceName": "dds_asql_Source",
						"type": "DatasetReference",
						"parameters": {
							"dataset": {
								"value": "@activity('act_filter_source_dataset').output.value[0]",
								"type": "Expression"
							},
							"datalink": {
								"value": "@activity('act_filter_source_datalink').output.value[0]",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "dds_asql_Bronze",
						"type": "DatasetReference",
						"parameters": {
							"dataset": {
								"value": "@activity('act_filter_sink_dataset').output.value[0]",
								"type": "Expression"
							},
							"datalink": {
								"value": "@activity('act_filter_sink_datalink').output.value[0]",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "act_filter_source_dataset",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.datasets",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().datasetId, pipeline().parameters.taskToProcess.sourceDatasetId)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "act_filter_sink_dataset",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.datasets",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().datasetId, pipeline().parameters.taskToProcess.sinkDatasetId)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"metadataLocation": {
				"type": "string",
				"defaultValue": "metadata"
			},
			"metadataPath": {
				"type": "string",
				"defaultValue": "config"
			},
			"maxConcurrentTasks": {
				"type": "string",
				"defaultValue": "20"
			},
			"taskToProcess": {
				"type": "object"
			},
			"datalinks": {
				"type": "array"
			},
			"datasets": {
				"type": "array"
			}
		},
		"folder": {
			"name": "core/level 001"
		},
		"annotations": []
	}
}